<h1>Profiles#index</h1>
<p>Find me in app/views/profiles/index.html.erb</p>
<div class="row">
<% if current_user.profile != nil %>
<% @profiles.each do |profile|%>
  <div class="col-sm-6 col-md-3 profile-item">
    <div class="card">
        <div class="cover-image">
       
            <% if  profile.cover_image? %>
            <%= image_tag profile.cover_image.url(:card)%>
            <% else %>
            <img src=" https://dummyimage.com/242x200/cccccc/777.png">
            <% end %>
     
        </div>
  
      <div class="card-body">
        <p class="catch-copy"><%= profile.catch_copy %></p>
            <div class="card-data clearfix">
              <div class="profile-icon">
                    <% if  profile.profile_image? %>
                    <%= image_tag profile.profile_image.url(:square),:width =>40,:height=>40%>
                    <% else %>
                    <img src=" https://dummyimage.com/40x40/cccccc/777.png">
                    <% end %>
              </div>
              <div class="profile-detail">
               <p class="display-name">
                <%= profile.display_name %>
                </p>
              <p>
                  <small class="last-sign-in">
                      最終ログイン
                        <time datetime="">
                            <%= time_ago_in_words(profile.user.last_sign_in_at)+"前" %> 
                        </time>
                  </small>
                  
              </p>
                              
              </div>

            </div>

      </div>
      <footer class="card-footer">
<%
## 自分がgoodかskipをしている場合
#  if profile.target_relation.where(profile_id: current_user.profile.id).size > 0

## 相手からgoodかskipされている場合
# if current_user.profile.target_relation(profile_id: profile.id).size >0

## 状態一覧
# 何も関連がない状態
# 自分がgoodをしている状態
# 自分がskipをしている状態
# 相手にgoodされている状態
# 相手にskipされている状態
# お互いにgoodしている状態
# お互いにskipしている状態
# 自分はgoodをしているが相手がskipしている状態
# 相手にgoodされているが自分はskipしている状態

%>
          
          <%= profile.self_relation_status(current_user.profile.id) %>
          <%= profile.second_relation_status(current_user.profile.id) %>
            <% if profile.target_relation.where(profile_id: current_user.profile.id).size > 0%>
                    <% match = profile.target_relation.where(profile_id: current_user.profile.id) %>
                    <% case match[0].status %>
                           <% when 'good' then %>
                              <!--Remove good -->
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                               <a href="#" class="btn btn-danger status-btn remove-btn" role="button" data-src-id="<%= current_user.profile.id %>" data-target-id="<%= profile.id %>" data-status="remove">Remove Good</a> 
                            </div>                     
                        <% when 'skip' then %>
                             <!--Remove Skip -->
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                               <a href="#" class="btn btn-danger status-btn add-btn" role="button" data-src-id="<%= current_user.profile.id %>" data-target-id="<%= profile.id %>" data-status="remove">Remoove Skip</a> 
                            </div>                    
                        <% else %>
                            <!--Good or Skip -->
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                               <a href="#" class="btn btn-success status-btn add-btn" role="button" data-src-id="<%= current_user.profile.id %>" data-target-id="<%= profile.id %>" data-status="good">Good!</a> 
                               <a href="#" class="btn btn-danger status-btn add-btn" role="button" data-src-id="<%= current_user.profile.id %>" data-target-id="<%= profile.id %>" data-status="skip">Skip</a> 
                            </div>  
                        <% end %>
            <% else %>
                       <!--Good or Skip -->
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                       <a href="#" class="btn btn-success status-btn add-btn" role="button" data-src-id="<%= current_user.profile.id %>" data-target-id="<%= profile.id %>" data-status="good">Good!</a> 
                       <a href="#" class="btn btn-danger status-btn add-btn" role="button" data-src-id="<%= current_user.profile.id %>" data-target-id="<%= profile.id %>" data-status="skip">Skip</a> 
                    </div>             
            <% end %>
  
      
      </footer>
     
      
    </div>
    </div>
  <% end %>
  
  <% end %>
</div>
<script>
$(function(){
    var add_url = "<%= url_for(controller: :relations,action: :create) %>";
    var remove_url = "<%= url_for(controller: :relations,action: :destroy) %>";
  
    $(".add-btn").on('click',add_btn_click);
    $(".remove-btn").on('click',remove_btn_click);
    function add_btn_click(){
        var btn = $(this);
        var data =  {
           relation:{
                "profile_id" : btn.attr('data-src-id'),
                "target_profile_id" : btn.attr('data-target-id'),
                "status" : btn.attr('data-status')
           }
         
        }
        status_update(data,btn,add_url);
        return false;        
    }
    
    function remove_btn_click(){
        
        var btn = $(this);
        var data =  {
            relation:{
                "profile_id" : btn.attr('data-src-id'),
                "target_profile_id" : btn.attr('data-target-id'),
                "status" : btn.attr('data-status')
            }
        }
        status_update(data,btn,remove_url);
        return false; 
    }
  
    function status_update(data,btn,url){
 
         $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
            var token;
            if (!options.crossDomain) {
              token = $('meta[name="csrf-token"]').attr('content');
              if (token) {
                   return jqXHR.setRequestHeader('X-CSRF-Token', token);
               }
            }
        });
        $.ajax({
            url: url,
            type:'POST',
            dataType:'json',
            data : data,
            timeout:10000,
        }).done(function(res){
            status_change_after(data,btn);
            console.log(res);
        }).fail(function(err){
            console.log('err');
            console.log(err);
        })
    }
    
    function status_change_after(data,btn){
       btnParent = btn.parent('.btn-group');
        switch(data['relation']['status']){
            case 'good':
               html ='<a href="#" class="btn btn-danger status-btn remove-btn" role="button" data-src-id="' + data['relation']['profile_id'] + '" data-target-id="' + data['relation']['target_profile_id'] + '" data-status="remove">Remove Good</a> ';
                btnParent.html(html); 
                btnParent.find('.btn').on('click',remove_btn_click);
                break;
            case 'skip':
               html ='<a href="#" class="btn btn-danger status-btn remove-btn" role="button" data-src-id="' + data['relation']['profile_id'] + '" data-target-id="' + data['relation']['target_profile_id'] + '" data-status="remove">Remove Skip</a> ';
                btnParent.html(html); 
                btnParent.find('.btn').on('click',remove_btn_click);
                break;
            case 'remove':
               html ='<a href="#" class="btn btn-success status-btn add-btn" role="button" data-src-id="' + data['relation']['profile_id'] + '" data-target-id="' + data['relation']['target_profile_id'] + '" data-status="good">Good!</a> ';
               html +='<a href="#" class="btn btn-danger status-btn add-btn" role="button" data-src-id="' + data['relation']['profile_id'] + '" data-target-id="' + data['relation']['target_profile_id'] + '" data-status="skip">Skip</a> ';               
                btnParent.html(html); 
                btnParent.find('.btn').on('click',add_btn_click);
                
            break;
        }
        
    }
})
    
</script>


